<template>
  <h1 @click="textClicked" class="title" v-for="title in titles">{{title}}</h1>
</template>

<script setup>

import {ref} from "vue";

const moduleInitialized = ref(false)
const titles = ref([]);

let worker = new Worker('/src/module.js', {type: 'module'});

worker.addEventListener('message', function(e) {
    const command = e.data.command;
    if (command) {
        if(command === 'moduleInitialized') {
            moduleInitialized.value = true;
        }
        if(command === 'appendText') {
            titles.value.push(e.data.value);
        }
    }
});

const textClicked = () => {
  worker.postMessage({
      command: 'textClicked'
  });
}
</script>

<style>
    .title {
        cursor: pointer;
    }

    .title:hover {
        color: dodgerblue;
    }
</style>
